.env
.vscode/
__pycache__/
chromedriver
tokenAcceso.txt
tokenActualizacion.txt
venv/
flaskvenv/
hector/
windvenv/
res/
logs/
logs/api-info.log
logs/autopark_log_01.log
downloads/
src/
chromedriver.exe      
geckodriver.exe 
build/
dist/
auto_park.sh
autorun.sh
schedule.txt
logs/api-info.log
logs/autopark_log_01.log
downloads/geckodriver
downloads/geckodriver-v0.33.0-linux64.tar.gz
downloads/geckodriver-v0.34.0-linux64.tar.gz
geckodriver.log
logs/api-info.log
data_telegram_curl.txt
